################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PHIRedactAppUnitTests/obj/Debug/net8.0/PHIRedactAppUnitTests.AssemblyInfoInputs.cache
/PHIRedactAppUnitTests/obj/Debug/net8.0/PHIRedactAppUnitTests.GeneratedMSBuildEditorConfig.editorconfig
/PHIRedactAppUnitTests/obj/Release/net8.0/PHIRedactAppUnitTests.AssemblyInfoInputs.cache
/PHIRedactAppUnitTests/obj/Release/net8.0/PHIRedactAppUnitTests.GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.editorconfig
/PHIRedactAppUnitTests/bin/Debug/net8.0
*.json
*.props
*.targets
*.txt
/PHIRedactAppUnitTests/bin/Release/net8.0
/PHIRedactWebApp/obj/Release/net8.0
/PHIRedactWebApp/obj/Debug/net8.0
/PHIRedactAppUnitTests/obj
/PHIRedactApp/obj
/PHIRedactApp/.vs
/PHIRedactApp/bin/Debug/net8.0
